In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('gmtw.csv')

In [20]:
data[0:3]

,Time,Self side,Rank1,Rank2,Opponent,Rank1.1,Rank2.1,Type,Size,Handicap,Result1,Result2,Result3
0,2014/4/12 2:29,W,?,-99,EasyBot,-,-99,Free,19,0,W,1,204.5
1,2014/4/12 2:42,B,?,-99,rapland,G,-99,Free,19,0,W,0,Res.
2,2014/4/12 2:59,W,?,-99,kumaaaaaaa,-,-99,Free,9,0,W,1,17.5

In [25]:
data[0:3][["Time","Rank2","Type"]]

             Time  Rank2  Type
0  2014/4/12 2:29    -99  Free
1  2014/4/12 2:42    -99  Free
2  2014/4/12 2:59    -99  Free

In [57]:
data_filter

,Time,Self side,Rank1,Rank2,Opponent,Rank1.1,Rank2.1,Type,Size,Handicap,Result1,Result2,Result3
6,2014/4/12 3:39,B,23k?,-22,mfgo12kyu0,-,-99,Free,19,0,B,1,0.5
65,2014/8/16 17:36,W,10k,-9,Stratagema,13k,-12,Ranked,19,3,W,1,0.5
360,2014/11/2 2:5,B,8k,-7,nikallday,3k,-2,Ranked,19,5,W,0,0.5
368,2014/11/2 21:8,W,8k,-7,Javierato2,8k,-7,Ranked,19,0,B,0,0.5
407,2014/11/10 4:45,B,8k,-7,ooo,8k,-7,Ranked,19,0,W,0,0.5
471,2014/11/27 2:57,B,8k,-7,ABATAP,3k,-2,Ranked,19,5,W,0,0.5
478,2014/11/27 5:50,W,8k,-7,BigMount,9k,-8,Ranked,19,0,B,0,0.5
493,2014/11/30 4:13,B,8k,-7,hirokichi,6k,-5,Ranked,19,2,B,1,0.5
503,2014/12/1 2:2,W,8k,-7,Botan,8k,-7,Ranked,19,0,B,0,0.5
527,2014/12/4 3:2,W,8k,-7,awoi,9k,-8,Ranked,19,0,W,1,0.5
541,2014/12/9 7:25,W,8k,-7,oiotoshi07,8k,-7,Ranked,19,0,B,0,0.5
564,2014/12/12 4:16,B,8k,-7,yotsuzaru,4k,-3,Ranked,19,4,B,1,0.5
659,2015/4/28 19:39,B,6k,-5,juhop,1k,0,Ranked,19,5,W,0,0.5
1107,2016/3/8 5:24,W,4k,-3,qazxcvbnm,4k,-3,Ranked,19,0,W,1,0.5
1167,2016/4/16 4:45,B,4k,-3,moondoggy,3k,-2,Ranked,19,0,B,1,0.5
1286,2016/9/14 4:46,W,4k,-3,gokl,7k,-6,Ranked,19,3,B,0,0.5
1333,2016/10/24 2:49,W,3k,-2,rinkuni,5k,-4,Ranked,19,2,W,1,0.5
1500,2017/6/25 1:30,W,3k,-2,nbgogo,4k,-3,Ranked,19,0,B,0,0.5
1694,2017/10/14 4:18,B,2k,-1,tarosuke,3d,3,Ranked,19,4,W,0,0.5
1701,2017/10/15 19:5,W,2k,-1,zipper5,3k,-2,Ranked,19,0,B,0,0.5
1781,2017/12/27 1:55,W,3k,-2,kfd,7k,-6,Ranked,19,4,W,1,0.5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1792 entries, 0 to 1791
Data columns (total 13 columns):
Time         1792 non-null object
Self side    1792 non-null object
Rank1        1792 non-null object
Rank2        1792 non-null int64
Opponent     1792 non-null object
Rank1.1      1792 non-null object
Rank2.1      1792 non-null int64
Type         1792 non-null object
Size         1792 non-null int64
Handicap     1792 non-null int64
Result1      1792 non-null object
Result2      1792 non-null int64
Result3      1792 non-null object
dtypes: int64(5), object(8)
memory usage: 182.1+ KB

In [59]:
data.describe()

             Rank2      Rank2.1         Size     Handicap      Result2
count  1792.000000  1792.000000  1792.000000  1792.000000  1792.000000
mean     -4.889509    -5.899554    18.970982     1.055246     0.538504
std       5.317823    11.905170     0.512540     1.579731     0.498654
min     -99.000000   -99.000000     9.000000     0.000000     0.000000
25%      -7.000000    -7.000000    19.000000     0.000000     0.000000
50%      -4.000000    -4.000000    19.000000     0.000000     1.000000
75%      -2.000000    -2.000000    19.000000     2.000000     1.000000
max      -1.000000     4.000000    19.000000     6.000000     1.000000

In [61]:
Resultado=data["Result3"]

In [6]:
data["Handicap"]

0       0
1       0
2       0
3       0
4       0
5       6
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      2
26      0
27      2
28      3
29      2
       ..
1762    0
1763    0
1764    2
1765    0
1766    0
1767    0
1768    0
1769    2
1770    0
1771    0
1772    0
1773    4
1774    0
1775    2
1776    0
1777    0
1778    2
1779    0
1780    0
1781    4
1782    0
1783    0
1784    0
1785    0
1786    0
1787    0
1788    0
1789    4
1790    0
1791    0
Name: Handicap, dtype: int64